/* css da página do simposio by: matheus cunha - 15/04/19 */

/* seletores e classes gerais */
html, body{
  background-color: #f4f4f4;
  height: 100%;
}

html{  
  scroll-behavior: smooth;
}

body{ /* position: relative necessário para o funcionamento do scrollspy */
  position: relative; 
}

a{ /* tirando as decorações das ancoras */
  text-decoration: none; 
}

/* seletores e classes do menu superior */
.jumbotron-customizado{
  height: 100%;
  background-image: url("../img/cacto1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preto-menu{ /* classe genérica com a cor preta para reestilizar o texto de elementos */
  color: black;
}

.zero-padding{ /* usado apra zerar o padding do jumbotron */
  padding-top: 0;
  padding-bottom: 0;
}

.fas.fa-bars{
  color: #b20000;
}

.botao-contato{ /* formatacao do botao contato do menu superior */
  background-color: #b20000;
  color: white;
}

/* seletores e classes do conteúdo principal */
.vermelho-principal{ /* classe genérica com a cor roxa para estilizar elementos */
  color: #b20000;
}

.verde-secundario{ /* classe genérica com a cor azul para estilizar elementos */
  color: #4B7F52;
}

.texto-branco-card{ /* classe de cor branca para uso geral nos cards */
  color: white;
}

.corfundo-palestra1{ /* cor de fundo da palestra 1 */
 background-color: #f1c40f;
}

.corfundo-palestra2{ /* cor de fundo da palestra 2 */
 background-color: #e67e22;
}

.corfundo-palestra3{ /* cor de fundo da palestra 3 */
 background-color: #2ecc71;
}

/* Ícones cards */
.fas{
  color: white; /* icones brancos dos cards */
}

.tamanho-icone-card{ /* classe criada para modificar o tamanho apenas dos icones dos cards */
  font-size: 5em;
}

/* seletores e classes do rodape */
.customizacao-rodape{
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #545454;
}

.navegacao-rodape{
  display: inline-block;
}

.a-rodape{
  position: absolute;
  right: 10%;
  top: 30%;
  display: inline-block;
  color: white;
}

.fab{
  color: white;
  font-size: 1.5rem;
}
